img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.topSon{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
}

.topSon img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.btn-like{
    background-color: black;
    border: none;
    outline: none;
}

.btn-like.liked{
    background-color: red;

}