@font-face {
    font-family: 'Kicker';
    src: url('/Assets/fonts/kicker-black/KickerTrial-Black.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kicker';
    src: url('/Assets/fonts/kicker-black/KickerTrial-BlackItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Kicker';
    src: url('/Assets/fonts/kicker-bold/KickerTrial-BlackSlanted.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* 
PPMori-Extralight
PPMori-ExtraLightItalic
PPMori-Regular
PPMori-RegularItalic
PPMori-SemiBold
PPMori-SemiBoldItalic
*/

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-ExtraLight.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-ExtraLightItalic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-Regular.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-RegularItalic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-SemiBold.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Mori';
    src: url('/Assets/fonts/pp-mori/PPMori-SemiBoldItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #E2FF08;
    --text-color: #FEFCE1;
    --text-color-secondary: #7F7E70;
    --text-color-tertiary: #56574E;
    --background-color: #000000;
    --background-secondary: #0E100F;
    --background-tertiary:#070808;
    --red: #ED1C24;
}

body{
    background-color: var(--background-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'PP Mori', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow:hidden;
}

::-webkit-scrollbar {
    width: 5px; /* Largeur pour les barres de défilement horizontales */
    height: 4px; /* Hauteur pour les barres de défilement verticales */
}

/* Style pour le fond des barres de défilement */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

/* Style pour les poignées de défilement */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 1rem;
}

/* Style pour les poignées de défilement au survol */
::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.2);
}

.glass{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.glass::before{
    content:"";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50%;
    filter: blur(200px) opacity(0.5);
    z-index: -1;
}

body aside{
    z-index: 10;
    min-width: 40vw;
    width: 40%;
    max-width: 40vw;
    background-color: var(--yellow);
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

body aside h2{
    white-space: nowrap;
    font-size: 9.375rem;
    position: relative;
    top: -2rem;
    text-wrap: nowrap;
    writing-mode: vertical-rl;
    font-family: 'Kicker';
    font-weight: 100;
}

body main{
    padding: 6rem 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:6rem;
}

body main .connection{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

body main #inscription{
    opacity:0;
}

body main .container-connexion{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.logo{
    align-self: flex-start;
    height: 6rem;
}

body main form{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    min-height: 100%;
    max-height: 100%;
    gap:2rem;
}

body main form legend{
    font-size: 3.125rem;
    font-family: "Kicker";
    font-weight: 100;
    color: var(--text-color);
}

body main form .top-content{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

body main form .top-content .inputs{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

body main form .bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

body main form .bottom-content button{
    border:none;
    cursor: pointer;
    background-color: transparent;
}

body main form .bottom-content .buttons{
    display: flex;
    gap: 1rem;
}

body main #connexion .bottom-content{
    flex-direction: row-reverse;
}

body main form .bottom-content .buttons button{
    cursor: pointer;
    display: flex;
    gap:1rem;
    background-color: var(--background-secondary);
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color:var(--yellow);
    font-family: 'PP Mori';
    font-weight: 400;
    min-width: 14rem;
    font-size: 1.1875rem;
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

body main form .bottom-content .buttons button.secondary{
    color: var(--text-color);
    filter: brightness(0.8);
}

body main form .bottom-content .buttons button:hover{
    filter: brightness(0.8);
}


body main form .bottom-content .buttons button.secondary:hover{
    filter: brightness(0.6);
}

body main form .bottom-content .buttons img{
    height: 1rem;
    position: relative;
    bottom: 3%;
}

body main form .bottom-content .buttons button.secondary img{
    height: 1.5rem;
}

body main form .container-textfields{
    display: flex;
    gap: 2rem;
}

.text-field{
    width: 100%;
    display: flex;
    position: relative;
    padding: 1.625rem 1.875rem;
    color: var(--text-color-secondary);
}

.text-field img{
    z-index: 2;
    height: 1.5rem;
}

.text-field input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 6rem;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid var(--text-color-secondary);
    outline: none;
    color: var(--text-color-secondary);
    font-family: 'PP Mori';
    font-weight: 300;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
}

.text-field.no-space input{
    padding-left: 1rem;
}

.text-field input:focus{
    border-bottom: 1.5px solid var(--yellow);
    transition: all 0.2s ease-in-out;
}

nav{
    position: relative;
    display: flex;
    background-color: var(--background-secondary);
    border-radius: 1rem;
    padding: 1rem;
    height: 5.1875rem;
    min-height: 5.1875rem;
    display: flex;
    align-self: flex-start;
}

nav ul{
    display: flex;
    gap: 0.85rem;
    height: 100%;
    list-style: none;
    z-index: 2;
}

nav ul li{
    list-style-type: none;
}

nav .active-square{
    position: absolute;
    width: 11.25rem;
    top:0.8rem;
    height: 3.5rem;
    z-index: 0;
    left: 1rem;
    background-color: var(--yellow);
    border-radius: 0.8rem;
}

nav ul li a {
    width: 11.25rem;
    text-decoration: none;
    color: var(--text-color);
    gap:0.7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-wrap: nowrap;
    font-size: 1rem;
}

nav ul li a svg{
    position: relative;
    bottom: 3%;
    height: 1.3rem;
}

body .left{
    padding: 3rem 3rem 0 3rem;
    width: 100%;
    display: flex;
    gap:2rem;
    flex-direction: column;
}


body .left header{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
}

body .left header img{
    align-self: flex-start;
}

body .left .container-tabs{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

body .tab{
    position: absolute;
    padding:0;
    display: flex;
    flex-direction: column;
    gap:1.8rem;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#SectionAccueil > *{
    display: flex;
    flex-direction: column;
    gap:1.8rem;
    position: absolute;
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#SectionAccueil .details{
    height: calc(100% - 2rem);
}

#SectionAccueil .details .voirmoins{
    border: none !important;
    background-color: transparent !important;
    cursor: pointer;
    transition: all 0.2s ease;
}

#SectionAccueil .details .voirmoins:hover{
    filter: opacity(0.6);
    transition: all 0.2s ease;
}

#PageArtiste{
    position: absolute;
    opacity: 0;
    padding-right: 2rem;
    width: 100%;
    display: flex;
    gap: 1.15rem;
    height: 100%;
    flex-direction: row;
}

#PageArtiste .play-btn{
    height: 4rem;
}

.back-btn{
    align-self: flex-start;
    background-color: transparent;
    border: none;
    z-index: 100;
    cursor:pointer;
    transition: all 0.2s ease;
}

body .left header .back-btn{
    position: absolute;
    left:3.5rem;
    top:5rem;
}

#PageArtiste .back-btn{
    position: absolute;
    bottom:2rem;
    left:0;
}

.back-btn img{
    height: 3rem;
}

#back-sm{
    display: none;
}

.back-btn:hover{
    filter: opacity(0.4);
    transition: all 0.2s ease;
}

#PageArtiste .infos-artiste{
    display: flex;
    flex-direction: column;
    gap:1.375rem;
    width: 80%;
    position: sticky;
    bottom: 0;
    height: calc(100% - 3rem - 4rem);
    max-height: calc(100% - 3rem - 4rem);
    overflow-y: auto;
}

#PageArtiste .infos-artiste .buttons{
    display: flex;
    gap:1rem;
}

#PageArtiste .infos-artiste .card-artiste{
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--background-tertiary);
}

#PageArtiste .infos-artiste .card-artiste .infos{
    display: flex;
    align-items: center;
    gap:2rem;
}

#PageArtiste .infos-artiste .card-artiste .infos .texts {
    color: var(--text-color);
    gap:0.5rem;
    display: flex;
    flex-direction: column;
}

#PageArtiste .infos-artiste .card-artiste .infos .texts h2{
    font-size: 2.5rem;
}

#PageArtiste .infos-artiste .card-artiste .infos .texts h4{
    filter: opacity(0.3);
    font-size: 0.9rem;
}

#PageArtiste .infos-artiste .card-artiste .container-cover{
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    min-height: 10rem;
    border-radius: 1rem;
    overflow: hidden;
}

#PageArtiste .infos-artiste .card-artiste .play-btn{
    align-self: flex-end;
    cursor: pointer;
}

#PageArtiste .main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap:1.25rem;
    padding-bottom: 1.5rem;
}

#PageArtiste .main-content .content-block{
    height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#PageArtiste .main-content .content-block > section{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
}

#PageArtiste .main-content .content-block #TopTitres{
    flex-direction: column;
    opacity: 0;
}

#PageArtiste .main-content .content-block #Albums{
    opacity: 0;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y:auto;
    padding-right: 1rem;
    align-items: flex-start;
}

#PageArtiste .main-content .content-block #Albums .song-card{
    min-width: 0;
    max-width: 32%;
    padding: 1rem;
    min-height: 0;
}

#PageArtiste .main-content .content-block #Albums .song-card .container-image{
    width: 100%;
    height: auto;
}

#PageArtiste .main-content .content-block #Albums .song-card .bottom-content{
    width: 100%;
}

body #SectionRecherche{
    gap:0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body #SectionRecherche .wrapper-recherche{
    display: flex;
    flex-direction: column;
    gap:2rem;
    max-width: 100%;
    width: 100%;
    position: absolute;
    padding-right: 2rem;
}

/*
pour rendre le header de la recherche sticky
body #SectionRecherche .wrapper-recherche .text-field{
    position: sticky;
    top:0;
    background-color: var(--background-color);
    z-index: 100;
} */

body #SectionPlaylists{
    display: flex;
    flex-direction: row;
    opacity: 0;
    padding-bottom: 2rem;
}

body #SectionPlaylists .left-content{
    display: flex;
    flex-direction: column;
    gap:2rem;
    max-width: 40%;
    width: 40%;
    position: sticky;
    top:0;
    z-index: 10;
}

body #SectionPlaylists .left-content .actions{
    display: flex;
    flex-direction: column;
    gap:1.5625rem;
}

body #SectionPlaylists .buttons{
    display: flex;
    gap:0.5rem;
}

.btn{
    cursor: pointer;
    display: flex;
    gap:1rem;
    background-color: var(--background-secondary);
    border: none;
    padding: 0.85rem 1rem;
    border-radius: 1rem;
    color:var(--text-color);
    font-family: 'PP Mori';
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    min-width: 13rem;
    gap: 0.7rem;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    filter: opacity(0.8);
    transition: all 0.2s ease-in-out;
}

.btn.like svg{
    color: var(--red);
    fill: var(--red);
    width: 1.5rem;
}

.btn.playlist svg{
    color: var(--yellow);
    height: 1rem;
}

.btn.share svg{
    height: 1rem;
}

.btn.important{
    color: var(--yellow);
    padding: 1.2rem 1rem;
}

body .content-block{
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    border-radius: 1rem;
    padding: 1.9rem 2.4rem;
    width: 100%;
    gap:2rem;
}

body .content-block > header, body .content-player .file-attente .top-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

body .content-block h2, .results-section h2, .pop-up-container h2{
    display: flex;
    font-size: 3rem;
    align-items: center;
    gap:1.5rem;
    color: var(--text-color);
    white-space: nowrap;
    text-wrap: nowrap;
}

h2 img{
    height: 2.5rem;
}

body .content-block > header a, body .content-player .file-attente .top-content a{
    text-decoration: none;
    color: var(--text-color-secondary);
    font-size: 1.25rem;
    white-space: nowrap;
    text-wrap: nowrap;
}

body .content-player .file-attente .top-content a{
    font-size: 1rem;
}

body .content-block .content{
    display: flex;
    gap:1rem;
    overflow-x: auto;
    padding-bottom: 1.5rem;
}

body .content-block .content.details{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    padding-right: 2rem;
}

#SectionPlaylists .current-display{
    width: 100%;
    position: relative;
}

#SectionPlaylists .play{
    height: 3rem;
}

#SectionPlaylists .content-block{
    background-color: var(--background-tertiary);
    width: 100%;
    position: absolute;
    gap:3rem;
    z-index: 1;
}

#SectionPlaylists .content-block.favoris{
    padding-top: 6rem;
    opacity: 0;
    z-index: 1;
}

#SectionPlaylists .current-display::after{
    content: "";
    height: 2rem;
    width: 1px;
    position: block;
    z-index: 100;
}

#SectionPlaylists .content-block .top-content{
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    width: 100%;
    position: relative;
}

#SectionPlaylists .content-block.favoris .top-content{
    padding-bottom: 1rem;
}

#SectionPlaylists .content-block .top-content .border{
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    border-radius: 1rem;
}

#SectionPlaylists .content-block .top-content .border::before{
    filter: blur(10px) opacity(1);
}

#SectionPlaylists .content-block .top-content .album-infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

#SectionPlaylists .content-block .top-content .album-infos .container-album{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

#SectionPlaylists .content-block .top-content .album-infos .container-album .heart{
    color: var(--red);
    fill: var(--red);
    width: 4rem;
    height: 3rem;
}

#SectionPlaylists .content-block .top-content .album-infos .container-cover{
    overflow: hidden;
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
}

#SectionPlaylists .content-block .top-content .album-infos .texts{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 0.3rem;
}

#SectionPlaylists .content-block .top-content .album-infos .texts h3{
    font-size: 3rem;
}

#SectionPlaylists .content-block .top-content .album-infos .texts h4{
    filter: opacity(0.7);
    font-weight: 200;
}

#SectionPlaylists .content-block > .menu-dots{
    position: absolute;
    right: 1.5rem;
    top:1.5rem;
}

#SectionPlaylists .content-block .buttons{
    gap:1rem;
}

#SectionPlaylists .content-block .buttons button{
    padding: 1.3rem 1.5rem;
    color: var(--text-color-secondary);
}

#SectionPlaylists .content-block .songs{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}

.song-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.75rem;
    height:18rem;
    min-height: 18rem;
    border-radius: 0.625rem;
    min-width: 15rem;
    padding:1.25rem;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.song-card.artiste{
    gap:1.5rem;
}

.song-card .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    border-radius: 50%;
    filter: blur(400px);
}

.song-card .container-image{
    height: 12.5rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    display: flex;
    overflow: hidden;
    position: relative;
}

.song-card.artiste .container-image{
    height: 10rem;
    width: 10rem;
}

.song-card .container-image .cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-card .container-image .play{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    height: 4rem;
    transform: translateY(5rem);
}

.song-card .bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12.5rem;
    gap:1rem;
}

.song-card .bottom-content .texts{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}

.song-card .bottom-content h4{
    font-size: 1.25rem;
}

.song-card .bottom-content h5{
    filter: opacity(0.7);
    font-size: 0.9rem;
    font-weight: 100;
}

.song-card .bottom-content .heart{
    height: 1.2rem;
}

body .content-player{
    background-color: var(--background-secondary);
    min-width: 30vw;
    width: 30vw;
    max-width: 30vw;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

body .content-player > .progress{
    display: none;
}

body .content-player .top-sm{
    display: none;
}

body .content-player .inner-content{
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    gap:2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 1.5rem;
    width: 100%;
}

body .content-player .cover-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}

body .content-player .cover-container .cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body .content-player .top-content, body .content-player .top-content .container-media{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    position: relative;
}

body .content-player .top-content .container-media .media {
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    position: absolute
}

body .content-player .top-content .container-media .media.alwaysVisible{
    position: static;
    z-index: -5;
    opacity: 0;
}

body .content-player .media-infos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body .content-player .media-infos .current-media{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

body .content-player .media-infos .current-media .container-heart{
    display: flex;
    flex-direction: row-reverse;
    gap:1rem;
}

body .content-player .media-infos .current-media .container-heart #main-heart{
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border:none;
}

.svg-heart-main{
    color: var(--text-color);
    width: 2.2rem;
    cursor: pointer;
    background-color: transparent;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect{
    position: absolute;
    width: 0.85rem;
    height: 4px;
    background-color: var(--red);
    filter: opacity(0.8);
    border-radius: 1rem;
    left:50%;
    top:50%;
    z-index: -1;
    opacity: 0;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:first-of-type{
    transform:
    translate(-55%, -70%) 
    rotate(0deg);
    left:0;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(2){
    transform:
    translate(-55%, -70%)
    rotate(45deg);
    top: 10%;
    left: 10%;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(3){
    transform: 
    translate(-55%, -90%)
    rotate(90deg);
    top:0;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(4){
    transform: 
    translate(-55%, -90%)
    rotate(-45deg);
    left: 90%;
    top: 10%;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(5){
    transform: 
    translate(-55%, -90%)
    rotate(90deg);
    top:100%;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(6){
    transform:  
    translate(-55%, -90%)
    rotate(45deg);
    top: 90%;
    left: 90%;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(7){
    transform:
    translate(-55%, -90%)
    rotate(-45deg);
    top: 90%;
    left: 10%;
}

body .content-player .media-infos .current-media .container-heart #main-heart .rect:nth-of-type(8){
    transform:  
    translate(-55%, -90%)
    rotate(0deg);
    left: 100%;
}

body .content-player .media-infos .current-media .container-heart .play-pause{
    display: none;
}


body .content-player .media-infos .current-media .heart{
    height: 2rem;
}

body .content-player .media-infos .current-media .texts{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

body .content-player .media-infos .current-media .texts h3{
    font-weight: 300;
    font-size: 2rem;
}

body .content-player .media-infos .current-media .texts h4{
    font-weight: 100;
    filter: opacity(0.7);
    font-size: 1.5rem;
}

body .content-player .top-content .actions{
    display: flex;
    flex-direction: column;
    gap:1.6875rem;
}

body .content-player .top-content .actions .buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

body .content-player .top-content .actions .buttons button{
    background-color: transparent;
    border: none;
}

body .content-player .top-content .actions .buttons #random img{
    height: 1rem;
}

body .content-player .top-content .actions .buttons #repeat img
{
    height: 0.7rem;
}

body .content-player .top-content .actions .buttons button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

body .content-player .top-content .actions .buttons button:hover{
    filter: opacity(0.6);
    transition: all 0.2s ease-in-out;
}

body .content-player .top-content .actions .buttons .main-button img {
    height: 1.5rem;
}

body .content-player .top-content .actions .buttons #playPause img{
    height: 4rem;
}


body .content-player .top-content .actions .buttons #playPause:hover{
    scale: 1.05;
}

body .content-player .top-content .actions .buttons .main-buttons{
    display: flex;
    gap: 1rem;
}

body .content-player .top-content .actions .time-vol{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

body .content-player .top-content .actions .progress{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    color: var(--text-color-secondary);
    align-items: center;
}

body .content-player .top-content .actions .progress .time-container.sm{
    display: none;
}

body .content-player .top-content .actions .progress .bar{
    border-radius: 0.7rem;
    width: 100%;
    height: 5px;
    background-color: var(--text-color-tertiary);
}

.bar {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
  }
  
  .bar::-webkit-slider-runnable-track {
    height: 15px;
    background: var(--text-color-tertiary);
    border-radius: 16px;
  }
  
  .bar::-moz-range-track {
    height: 15px;
    background: var(--text-color-tertiary);
    border-radius: 16px;
  }
  
  .bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: -407px 0 0 400px var(--text-color);
  }
  
  .bar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    box-shadow: -407px 0 0 400px var(--text-color);
  }

.bar:hover{
    filter: brightness(0.8);
    transition: all 0.2s ease-in-out;
}

.bar.vertical {
    height: 6px;
    width: 6rem;
    transform: rotate(270deg);
    position: absolute;
    top: 3.5rem;
    left: -2rem;
}

.volume{
    position: relative;
}

.container-sm-display{
    display: none;
}

.volume button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.volume button:hover{
    filter: opacity(0.6);
    transition: all 0.2s ease-in-out;
}

.volume .volume-bar{
    position: absolute;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top:-11rem;
    right:-0.5rem;
    height: 10rem;
    background-color: #353535;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.volume .volume-bar .bar-container{
    position: relative;
    height: 100%;
}

.volume .volume-bar svg{
    height: 1.1rem;
}

body .content-player .top-content .actions .progress .bar .inner{
    border-radius: inherit;
    width: 60%;
    height: 5px;
    background-color: var(--text-color);
}

body .content-player .file-attente{
    background-color: var(--background-tertiary);
    width: 100%;
    max-height: 50vh;
    min-height:50vh;
    height: 50vh;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body .content-player .file-attente .content{
    display: flex;
    flex-direction: column;
    gap:0.625rem;
    padding-right: 0.6rem;
    max-height: 100%;
    overflow-y: hidden;
}

.artiste-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    min-height: 4.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.artiste-row:hover{
    filter: brightness(0.6);
    transition: all 0.2s ease-in-out;
}

.artiste-row.with-dots{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.artiste-row .menu-dots{
    padding: 0.5rem;
    height: 1.5rem;
}

.artiste-row .infos{
    display: flex;
    align-items: center;
    gap:1rem;
}

.artiste-row .infos .texts{
    display: flex;
    gap:0.3rem;
    flex-direction: column;
    color:var(--text-color)
}

.artiste-row .infos .texts h4{
    font-size: 1rem;
    font-weight: 300;
}

.artiste-row .infos .texts h5{
    filter: opacity(0.7);
    font-size: 0.875rem;
    font-weight: 200;
}

.artiste-row.playlist .texts{
    gap: 0.6rem
}

.artiste-row.playlist .texts h5{
    font-size: 0.8rem;
    max-width: 15vw;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artiste-row .infos .container-cover{
    height: 3.5rem;
    width: 3.5rem;
    min-width: 3.5rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

.artiste-row.playlist .infos .container-cover{
    height: 5rem;
    width: 5rem;
}

.container-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body .content-player .file-attente .content .artiste-row .actions, .pop-up-container .artiste-row .actions{
    display: flex;
    align-items: center;
    gap:2rem;
}

body .content-player .file-attente .content .artiste-row .actions .btn-file-attente{
    height: 1rem;
    cursor: pointer;
}

.artiste-wrapper{
    position: relative;
}

.menu{
    position: absolute;
    top:2rem;
    right: 1rem;
    background-color: #212121;
    filter: opacity(1);
    z-index: 10;
    padding: 1rem;
    display: none;
    border-radius: 1rem;
}

.artiste-wrapper .sub{
    position: absolute;
    left: calc(100% + 1.5rem);
    bottom: 0;
    z-index: 10000;
    background-color: #212121;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    display: none;
    opacity: 0;
    transform: translateY(1rem);
}

.artiste-wrapper .sub ul{
    max-height: 20vh;
    overflow: auto;
    padding-right: 0.5rem;
    width: 100%;
}

.artiste-wrapper .sub .new-playlist{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--text-color-secondary);
}

.artiste-wrapper .sub .new-playlist svg{
    color: var(--yellow);
}

.artiste-wrapper .sub ul li:nth-of-type(2){
    padding-top: 0.5rem;
}

.artiste-wrapper .menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}

.artiste-wrapper .menu ul li{
    width: 100%;
}

.artiste-wrapper .menu ul li button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-family: 'PP Mori';
    width: 100%;
    justify-content: flex-start;
    font-size: 1rem;
    gap:1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.artiste-wrapper .menu ul li button:hover{
    background-color: #353535;
    transition: all 0.2s ease-in-out;
}

.artiste-wrapper .menu ul li button svg{
    width: 1rem;
    height: 1rem;
}

.artiste-wrapper .menu ul li.has-sub-menu{
    position: relative;
}

.artiste-wrapper .menu ul li.has-sub-menu .cursor-container{
    position: absolute;
    left: -1rem;
    top: 0;
    width: calc(100% + 2rem);
    height: 100%;
}

.artiste-wrapper .menu ul li.has-sub-menu .cursor-container.right{
    left: -1rem;
    width: 100%;
}

.artiste-wrapper .menu ul li button svg.chevron{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.artiste-row .actions .edit-list{
    display: flex;
    gap:1.25rem;
}

/* recherche */

#SectionRecherche{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#SectionRecherche .resultat h2 img{
    align-self: flex-start;
}

#SectionRecherche .resultat {
    padding-bottom: 2rem;
    max-height: 100%;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    gap:3.75rem
}

#SectionRecherche .resultat .results-section{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

#SectionRecherche .resultat .results-section.scrollable .content{
   overflow-x: auto;
   padding-bottom: 1rem;
}

#SectionRecherche .resultat .results-section .content{
    display: flex;
    gap: 1.5rem;
}

#SectionRecherche .resultat .results-section .content .best-result{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding: 1.5rem;
    min-width: 40%;
    max-width: 40%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: none;
}

#SectionRecherche .resultat .results-section .content .best-result .expand{
    height: 2rem;
}

#SectionRecherche .resultat .results-section .content .best-result:hover{
    filter: brightness(0.7);
    transition: all 0.2s ease-in-out;
}

#SectionRecherche .resultat .results-section .content .best-result::before{
    filter: blur(300px) opacity(0.5);
}

#SectionRecherche .resultat .results-section .content .best-result .container-cover{
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

#SectionRecherche .resultat .results-section .content .best-result .container-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#SectionRecherche .resultat .results-section .content .best-result .infos{
    display: flex;
    justify-content: space-between;
}

#SectionRecherche .resultat .results-section .content .best-result .infos .texts{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    color: var(--text-color);
}

#SectionRecherche .resultat .results-section .content .best-result .infos .texts h4 {
    font-size: 1.25rem;
    font-weight: 300;
}

#SectionRecherche .resultat .results-section .content .best-result .infos .texts h5{
    filter: opacity(0.7);
    font-size: 0.875rem;
    font-weight: 200;
}

#SectionRecherche .resultat .results-section .content .other-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
    justify-content: space-between;
}

#SectionRecherche .resultat .results-section .content .other-results .artiste-row{
    cursor: pointer;
}

#SectionRecherche .resultat .results-section .content .other-results > .artiste-wrapper{
    display: none;
}

/* pop up */

.pop-up-container{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    display: none;
}

.pop-up-container .new-playlist{
    background-color: var(--background-tertiary);
    padding: 2.5rem;
    border-radius: 1rem;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    gap:1.75rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-container .new-playlist header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}

.pop-up-container .new-playlist header #btnClosePopUp{
    background:transparent;
    border:none;
    cursor: pointer;
    padding: 0.5rem;
}

.pop-up-container .new-playlist header #btnClosePopUp img{
    width: 1.25rem;
    height: 1.25rem;
}

.pop-up-container .new-playlist form{
    display: flex;
    flex-direction: column;
    gap:2.625rem;
}

.pop-up-container .new-playlist form .top-content{
    display: flex;
    align-items: flex-end;
    gap:1.75rem;
}

.pop-up-container .new-playlist form .top-content .container-media .media{
    display: flex;
    flex-direction: column;
    gap:1.75rem;
}

.pop-up-container .new-playlist form .top-content > .container-cover{
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    min-height: 9rem;
    border-radius: 1rem;
    overflow: hidden;
}

.pop-up-container .new-playlist form .bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

.pop-up-container .new-playlist form .bottom-content .left-content{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.pop-up-container .new-playlist form .bottom-content h3{
    font-size: 1.25rem;
    color: var(--text-color-secondary);
}

.pop-up-container .new-playlist .suggestions{
    display: flex;
    gap:0.8rem;
    height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    flex-direction: column;
    padding-right: 1rem;
}

.pop-up-container .new-playlist form .suggestions .actions img{
    height: 1.5rem;
    max-height: 1.5rem;
}

@media (max-width: 1600px) {
    html {
      font-size: 14px;
    }

    .artiste-row .actions .edit-list{
        display: none !important;
    }

    .pop-up-container .artiste-row .actions .edit-list{
        display: flex !important;
        gap:1.25rem;
    }

  }

/* Point de rupture pour les écrans LG */
@media (max-width: 1199px) {
    html {
      font-size: 14px;
    }

    .container-sm-display{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        gap: 2rem
    }

    .container-sm-display button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .container-sm-display button:hover{
        filter: opacity(0.6);
        transition: all 0.2s ease-in-out;
    }

    .container-sm-display button svg{
        height: 2rem;
    }

    .volume.lg{
        display: none;
    }

    body{
        flex-direction: column;
        gap:1rem;
    }

    body .content-player{
        height: 15vh;
        max-height: 15vh;
        border-radius: 0;
        overflow: visible;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    body .content-player .inner-content{
        padding:1rem 2rem;
        align-items: center;
        justify-content: center;
        overflow-y: visible;
        height: 100%;
    }

    body .content-player .top-content, body .content-player .top-content .container-media .media{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    body .content-player .top-content .container-media{
        justify-content: unset;
        overflow-x:hidden;
        overflow-y: hidden;
        width: 33%;
    }

    body .content-player .top-content .container-media .media{
        justify-content: unset;
        width: 100%;
    }

    body .content-player .media-infos .current-media{
        justify-content: unset;
        gap: 3rem;
    }

    body .content-player .media-infos .current-media .texts {
        gap: 0.3rem;
    }

    body .content-player .media-infos .current-media .texts h3{
        font-size: 1.5rem;
    }

    body .content-player .media-infos .current-media .texts h4{
        font-size: 1rem;
    }

    body .content-player .top-content .actions{
        gap: 1rem;
        width: 30%;
        height: 100%;
        justify-content: space-between;
    }

    body .content-player .top-content .cover-container{
        height: 5rem;
        min-height: 5rem;
        border-radius: 10px;
        width: 5rem;
        min-width: 5rem;
    }

    body .content-player .top-content .media-infos{
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    body .content-player .file-attente{
        display: none;
    }

    body .left{
        height: 90vh;
        max-height: 90vh;
    }
  }
  
  /* Point de rupture pour les écrans MD */
  @media (max-width: 991px) {
    html {
      font-size: 12px;
    }

    .bar.vertical{
        left: -1.7rem;
    }
  }
  
  /* Point de rupture pour les écrans SM */
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }

    .bar.vertical{
        left: -1.4rem;
    }
  }
  
  /* Point de rupture pour les écrans XS */
@media (max-width: 576px) {
    html {
        font-size: 8px;
    }

    .pop-up-container .new-playlist form .suggestions .actions img{
        height: 2rem;
        max-height: 2rem;
    }    

    .pop-up-container .new-playlist form .suggestions .artiste-row{
        min-height: 6rem;
    }

    #SectionPlaylists .current-display{
        position: absolute;
        opacity: 0;
    }

    body #SectionPlaylists .left-content{
        width: 100%;
        max-width: 100%;
    }

    body .left{
        height: 80vh;
        max-height: 80vh;
    }

    #PageArtiste{
        flex-direction: column;
        gap: 2rem;
    }

    #PageArtiste .back-btn{
        display: none;
    }

    #PageArtiste .infos-artiste{
        width: 100%;
    }
    
    .btn{
        padding: 2rem 1.5rem !important;
        align-items: center;
        font-size: 1.5rem;
        min-width: 18rem;
    }

    .btn svg{
        height: 1.5rem !important;
        position: relative;
        bottom: 10%;
    }


    h5{
        font-size: 1.1rem !important;
    }

    body .content-player .top-content{
        gap: 2rem;
    }

    body .content-player .top-content .media-infos{
        width: 100%;
        justify-content: stretch;
        align-items: stretch;
    }

    body .content-player .media-infos .current-media{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    body .content-player .media-infos .current-media .texts{
        gap: 1rem;
    }

    body .content-player .media-infos .current-media .texts h3{
        font-size: 2rem;
    }

    body .content-player .media-infos .current-media .texts h4{
        font-size: 1.5rem;
    }

    body .content-player .media-infos .current-media .container-heart .play-pause{
        display: block;
    }

    body .content-player .media-infos .current-media .container-heart svg{
        height: 5rem;
    }

    body .content-player .media-infos .current-media .container-heart .likeSong{
        width: 3rem;
    }

    .container-sm-display{
        display: none;
    }

    .menu-dots.sm{
        display: block;
    }

    .top-sm{
        display: flex;
        display: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    body .content-player .top-content .cover-container{
        min-height: 8rem;
        height: 8rem;
        border-radius: 10px;
        min-width: 8rem;
        width: 8rem;
    }

    body .content-player{
        position: relative;
        bottom:10vh;
        height: 10vh;
        max-height: 10vh;
        width: 96%;
        position: fixed;
        left: 2%;
        transform: translateY(10%);
        max-width: 96%;
        border-radius: 0.5rem;
        background-color: transparent;
        overflow: hidden;
        z-index: 100;
        background-color: #000000;
        flex-direction: column;
        gap:0;
    }

    body .content-player > .progress{
        width: 100%;
        position: relative;
        bottom: 1.25rem;
        display: flex;
        justify-content: center;
    }

    body .content-player > .progress .bar{
        width: 93%;
        height: 3px;
        border-radius: 1rem;
    }

    body .content-player .background{
        content: "";
        z-index: -1;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: url(../images/cover_so_la_lune.png) no-repeat center center;
        filter: blur(150px);
    }

    body .content-player .top-content .actions{
        display: none;
    }

    .main-nav{
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 10vh;
        border-radius: 0;
    }
    .main-nav ul{
        display: flex;
        gap: 2rem;
    }

    .main-nav ul svg{
        height: 4rem;
    }

    .main-nav ul span{
        display: none;
    }

    .main-nav .active-square{
        display: none;
    }

    .left > header{
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
    }

    body .left header img {
        align-self: center;
    }

    body .content-player .top-content .actions .buttons {
        gap: 3.5rem;
    }

    body .content-player .top-content .actions .buttons #random img{
        height: 2rem;
    }

    body .content-player .top-content .actions .buttons #repeat img
    {
        height: 1.2rem;
    }

    body .content-player .top-content .actions .buttons .main-button img {
        height: 3rem;
    }

    body .content-player .top-content .actions .buttons #playPause img{
        height: 7rem;
    }

    body .content-player .top-content .actions .buttons .main-buttons{
        display: flex;
        gap: 2.5rem;
    }

    body .content-player .top-content .actions .progress .time-container.sm{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    body .content-player .top-content .actions .progress{
        flex-direction: column;
        gap:1rem
    }

    body .content-player .top-content .actions .progress p{
        font-size: 1.5rem;
    }

    body .content-player .top-content .actions .progress .time.lg{
        display: none;
    }

    body .content-player .file-attente{
        height: 50vh;
    }

    body .content-player .file-attente h4{
        font-size: 2rem;
        font-weight: 300;
    }

    body .content-player .file-attente .content .artiste-row .actions .edit-list{
        display: flex !important;
        gap: 2.5rem;
    }

    body .content-player .inner-content{
        overflow-y: auto;
    }

    body .content-player .file-attente .content{
        gap: 1rem;
    }

    .artiste-row .infos .container-cover{
        height: 6rem;
        width: 6rem;
        min-width: 6rem;
        min-height: 6rem;
    }

    .pop-up-container .new-playlist form .suggestions .artiste-row .infos .container-cover{
        height: 5rem;
        width: 5rem;
        min-width: 5rem;
        min-height: 5rem;
    }

    .artiste-row .infos .texts{
        gap: 0.5rem;
    }

    .artiste-row .infos .texts h4{
        font-size: 1.75rem;
    }

    .artiste-row .infos .texts h5{
        font-size: 1.3rem !important;
    }

    body .content-player .file-attente .content .artiste-row .actions{
        gap: 4rem;
    }

    body .content-player .file-attente .content .artiste-row .actions .btn-file-attente{
        height: 1.5rem;
    }

    body .content-player .file-attente .top-content a{
        font-size: 1.5rem;
    }

    body .content-player .top-content .container-media{
        width: 100%;
    }

    body .content-player .top-content .container-media{
        justify-content: unset;
        overflow-x:visible;
        overflow-y: visible;
        width: 100%;
    }
}
  
@media (max-width: 450px) {
html {
    font-size: 8px;
}
}


.svg-heart{
    color: var(--text-color);
    width: 1.5rem;
    cursor: pointer;
}

.likeSong{
    background-color: transparent;
    border: none;
}

.likeSong.sm{
    width: 2.2rem;
}

.likeSong.sm{
    width: 1.5rem;
}

.likeSong.like svg
{
    color: var(--red);
    fill: var(--red);
}

.no-result{
    display: none;
}

#SectionRecherche .resultat .results-section#OtherArtists, #SectionRecherche .resultat .results-section#OtherAlbums{
    display: none;
}

#TexteResultats{
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: transparent;
  -webkit-text-fill-color: var(--text-color-secondary);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#buttonPlayPlaylist{
    cursor: pointer;
}